# TeamsFx files
env/.env.*.user
env/.env.local
env/.env.sandbox
.notification.localstore.json
.notification.playgroundstore.json
appPackage/build

# dependencies
node_modules/
.python_packages/
.venv/
__pycache__/

# misc
.env
.deployment
.DS_Store
local.settings.json
*.pyc

# build
lib/

# Dev tool directories
/devTools/